.dial {
  padding: 12.5px;
  display: flex;

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  &-item {
    display: inline-flex;
    width: 75px;
    height: 75px;
    background: #f8f7fb;
    border-radius: 10px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    transition: all .1s linear;
  }

  &-item-active {
    background-color: #03a69a;
    color: #fff;
  }


  &-action {
    position: fixed;
    left: 12.5px;
    right: 12.5px;
    bottom: calc(24px + constant(safe-area-inset-bottom));
    bottom: calc(24px + env(safe-area-inset-bottom));
  }

  &-vip {
    text + text {
      margin-left: 5px;
      color: #E8624B;
    }
  }

  &-switch {
    margin: 12px 0;

    switch {
      margin-left: 12px;
    }
  }
}

.btn {
  background-color: #03a69a;
  color: #fff;
}
