.home {
  padding: 100px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-item {
    display: flex;
    padding: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    image {
      width: 150px;
      height: 150px;
      margin-bottom: 12px;
    }

    &-hover {
      background-color: darken(#fff, 5%);
    }
  }
}
